/* profile */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.login_form{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.login_form .left{
    width: 300px;
    height: 580px;
    margin: 90px 0 10px 0;
    padding-top: 0;
    border-right: solid rgb(184, 182, 182) ;
}

.login_form .left h1{
    font-size: 30px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login_form .left .btn1{
    text-decoration: none;
    display:block;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.login_form .left .btn1 i a{
    text-decoration: none;
    display: block;
    margin: 30px;
    border-radius: 30px;
    background: linear-gradient(to right,#c72092,#6c14d0);
    color: white;
    font-size: 1.2rem;
}

.right{
    padding: 50px;
    position: relative;
    right: 300px;
    top: 30px;
}

.btn1 i a:active{
    transform: scale(0.8)
}

.login_form .right h1{
    font-family: prevattscriptssk;
    font-size: 45px;
    margin-bottom: 20px;
}

.login_form .right p{
    margin-bottom: 2px;
}

.login_form .right .user{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    display: flex;
}

.login_form .right .user i{
    position: relative;
    top: 9px;
    left: 15px;
    color: #c72092;
}

.login_form .right .user .username{
    position: relative;
    left: 9%;
    width: 295px;
    background: none;
    outline: none;
    border: none;
    display: flex;
    font-size: 15px;
}

.login_form .right .passworg_tag{
    margin: 15px 0 5px 0;
}

.login_form .right .password{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    display: flex;
}

.login_form .right .password i{
    position: relative;
    top: 9px;
    left: 15px;
    color: #c72092;
}

.login_form .right .password input{
    position: relative;
    left: 9%;
    width: 295px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    font-size: 15px;
}

::-webkit-input-placeholder{
    color: black;
    opacity: 0.7;
}

.login_form .right button{
    width: 100px;
    color: white;
    margin: 15px 0 0 0;
    padding: 7px 20px;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, #c72092 , #6c14d0);
}