{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VG SHOES -{% block title %}

      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,600&family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/CSS/base.css" />
    {% block link %}

    {% endblock %}
    <link rel="shortcut icon" href="../static/image/vg_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

    </style>
  </head>
  <body>
    <nav>
      <div class="logo">
        <h1>Shoe<span>s</span></h1>
      </div>
      
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <div class="dropdown">
            <a>Product</a>
            <div class="dropdown-content">
              <a href="{% url 'category' 'M' %}">Men</a>
              <a href="{% url 'category' 'W' %}">Women</a>
              <a href="{% url 'category' 'K' %}">Kids</a>
              <a href="{% url 'category' 'S' %}">Sale</a>
            </div>
          </div>
        </li>
        <li>
          <a href="/About">About</a>
        </li>
        <li>
          <a href="/Review">Review</a>
        </li>
        <li>
          <a href="/Services">Services</a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
          <div class="icons">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <div class="dropdown">
              <i class="fa-solid fa-user"></i>
              <div class="dropdown-content">
                <a href="#">{{ request.user }}</a>
                <a href="{% url 'Profile' %}">Profile</a>
                <a href="{% url 'Address' %}">Address</a>
                <a href="#">Password</a>
                <a href="#">Order Details</a>
                <a href="/logout/">LogOut</a>
              </div>
            </div>
        </div>
        </li>
        {% else %}
        <li>
          <div class="login">
            <a href="{% url 'login' %}">Login/Registration</a>
          </div>
        </li>
      </ul>
      {% endif %}
    </nav>

    {% block body %}

    {% endblock %}
    

    <!-- Foooter -->

    <footer>
      <div class="footer_main">
        <div class="tag">
          <h1>Contact</h1>
          <a href="#"><i class="fa-solid fa-house"></i>123/Colombo/Sri Lanka</a>
          <a href="#"><i class="fa-solid fa-phone"></i>+9 4123456789</a>
          <a href="#"><i class="fa-solid fa-envelope"></i>contact@gmail.com</a>
        </div>

        <div class="tag">
          <h1>Get Help</h1>
          <a href="#" class="center">FAQ</a>
          <a href="#" class="center">Shipping</a>
          <a href="#" class="center">Returns</a>
          <a href="#" class="center">Payment Options</a>
        </div>

        <div class="tag">
          <h1>Our Stores</h1>
          <a href="#" class="center">Sri Lanka</a>
          <a href="#" class="center">USA</a>
          <a href="#" class="center">India</a>
          <a href="#" class="center">Japan</a>
        </div>

        <div class="tag">
          <h1>Follow Us</h1>
          <div class="social_link">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
        </div>

        <div class="tag">
          <h1>Newsletter</h1>
          <div class="search_bar">
            <input type="text" placeholder="You email id here" />
            <button type="submit">Subscribe</button>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
