{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}
{% block link %}
<link rel="stylesheet" href="../static/CSS/changepassword.css">
{% endblock link %}



{% block body %}
<!-- Change Password -->
    
<div class="login_form">
    <div class="left">
        <h1>Your Account</h1>
        <div class="btn1">
            <i><a href="">Profile</a></i>
            <i><a href="">Address</a></i>
            <i><a href="">Password</a></i>
            <i><a href="">Orders</a></i>
        </div>
    </div>

    <div class="right">
        <h1>Change Your Password</h1>

        <form action="#" method="post">
            <p>Old Password</p>
            <div class="user">
                <input type="text" name="user" placeholder="Enter Old Password" class="username">
            </div>

            <p class="passworg_tag">New Password</p>
            <div class="password">
                <input type="text" name="password" placeholder="Enter New Password">
            </div>

            <p class="passworg_tag">Confirm Password</p>
            <div class="password">
                <input type="text" name="password" placeholder="Again Enter New Password">
            </div>
            
            <button type="submit"><a>Submit</a></button>

        </form>

    </div>
</div>

{% endblock %}